In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt
from datetime import datetime

In [2]:
taxi_2019 = pd.read_csv('./data/taxi_2019.csv')

/Users/jonathanbeltran/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
taxi_2019.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,month,year
0,0,1.0,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151,239,...,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,jan,2019
1,1,1.0,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239,246,...,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,jan,2019
2,2,2.0,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236,236,...,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,jan,2019
3,3,2.0,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193,193,...,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,jan,2019
4,4,2.0,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193,193,...,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,jan,2019

In [5]:
taxi_2019.dtypes

Unnamed: 0                 int64
VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
month                     object
year                       int64
dtype: object

In [6]:
taxi_2019 = taxi_2019.drop(columns= 'Unnamed: 0')

In [7]:
taxi_2019 = taxi_2019.dropna()

In [8]:
## Changing pickup and drop off to datetime as well as the name

taxi_2019['tpep_pickup_datetime'] = (pd.to_datetime(taxi_2019['tpep_pickup_datetime']))
taxi_2019['tpep_dropoff_datetime'] = (pd.to_datetime(taxi_2019['tpep_dropoff_datetime']))

In [9]:
## Renaming pickup/ dropoff datetime columns
taxi_2019 = taxi_2019.rename(columns={'tpep_pickup_datetime': 'pickup_datetime', 'tpep_dropoff_datetime': 'dropoff_datetime'})

In [10]:
## Extracting Day of the week from pickup/dropoff into columns
taxi_2019['pickup_day_of_week'] = taxi_2019['pickup_datetime'].dt.day_name()
taxi_2019['dropoff_day_of_week'] = taxi_2019['dropoff_datetime'].dt.day_name()

In [11]:
## Extracting hour of the day from pickup/dropoff into columns
taxi_2019['pickup_hour']= taxi_2019['pickup_datetime'].dt.hour
taxi_2019['dropoff_hour']= taxi_2019['dropoff_datetime'].dt.hour

In [12]:
taxi_2019.dtypes

VendorID                        float64
pickup_datetime          datetime64[ns]
dropoff_datetime         datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
month                            object
year                              int64
pickup_day_of_week               object
dropoff_day_of_week              object
pickup_hour                       int64
dropoff_hour                      int64
dtype: object

In [17]:
taxi_2019 = taxi_2019.loc[taxi_2019['pickup_datetime'].dt.year == 2019,:]

In [18]:
taxi_2019.shape

(79295427, 24)

In [19]:
## Checking to see all dates belong to 2019
taxi_2019['pickup_datetime'].dt.year.value_counts()

2019    79295427
Name: pickup_datetime, dtype: int64

In [20]:
##Function binning hours of the day for morning, afternoon and late night from pickup/dropoff hour of the day column
def time_of_day(x):
    if x in range(6,12):
        return 'Morning'
    elif x in range(12,16):
        return 'Afternoon'
    elif x in range(16,22):
        return 'Evening'
    else:
        return 'Late night'

In [21]:
taxi_2019['pickup_timeofday']=taxi_2019['pickup_hour'].apply(time_of_day)

In [14]:
taxi_2019['dropoff_timeofday']=taxi_2019['dropoff_hour'].apply(time_of_day)

In [15]:
### trip time

taxi_2019['trip_time'] = taxi_2019['dropoff_datetime'] - taxi_2019['pickup_datetime']

In [16]:
taxi_2019.head(2)

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,congestion_surcharge,month,year,pickup_day_of_week,dropoff_day_of_week,pickup_hour,dropoff_hour,pickup_timeofday,dropoff_timeofday,trip_time
68268,1.0,2019-01-01 07:01:20,2019-01-31 14:29:21,1.0,1.2,1.0,N,48,163,2.0,...,0.0,jan,2019,Tuesday,Thursday,7,14,Morning,Afternoon,30 days 07:28:01
579459,1.0,2019-01-03 21:43:46,2019-01-03 21:45:47,1.0,0.6,1.0,N,263,141,1.0,...,0.0,jan,2019,Thursday,Thursday,21,21,Evening,Evening,0 days 00:02:01

In [23]:
## Updating Location Data using shapefile that is provided by NYC TLC. You can find here: https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip
## preprocessed on a different notebook 

borough_dict = {1: 'EWR',
 2: 'Queens',
 3: 'Bronx',
 4: 'Manhattan',
 5: 'Staten Island',
 6: 'Staten Island',
 7: 'Queens',
 8: 'Queens',
 9: 'Queens',
 10: 'Queens',
 11: 'Brooklyn',
 12: 'Manhattan',
 13: 'Manhattan',
 14: 'Brooklyn',
 15: 'Queens',
 16: 'Queens',
 17: 'Brooklyn',
 18: 'Bronx',
 19: 'Queens',
 20: 'Bronx',
 21: 'Brooklyn',
 22: 'Brooklyn',
 23: 'Staten Island',
 24: 'Manhattan',
 25: 'Brooklyn',
 26: 'Brooklyn',
 27: 'Queens',
 28: 'Queens',
 29: 'Brooklyn',
 30: 'Queens',
 31: 'Bronx',
 32: 'Bronx',
 33: 'Brooklyn',
 34: 'Brooklyn',
 35: 'Brooklyn',
 36: 'Brooklyn',
 37: 'Brooklyn',
 38: 'Queens',
 39: 'Brooklyn',
 40: 'Brooklyn',
 41: 'Manhattan',
 42: 'Manhattan',
 43: 'Manhattan',
 44: 'Staten Island',
 45: 'Manhattan',
 46: 'Bronx',
 47: 'Bronx',
 48: 'Manhattan',
 49: 'Brooklyn',
 50: 'Manhattan',
 51: 'Bronx',
 52: 'Brooklyn',
 53: 'Queens',
 54: 'Brooklyn',
 55: 'Brooklyn',
 56: 'Queens',
 57: 'Queens',
 58: 'Bronx',
 59: 'Bronx',
 60: 'Bronx',
 61: 'Brooklyn',
 62: 'Brooklyn',
 63: 'Brooklyn',
 64: 'Queens',
 65: 'Brooklyn',
 66: 'Brooklyn',
 67: 'Brooklyn',
 68: 'Manhattan',
 69: 'Bronx',
 70: 'Queens',
 71: 'Brooklyn',
 72: 'Brooklyn',
 73: 'Queens',
 74: 'Manhattan',
 75: 'Manhattan',
 76: 'Brooklyn',
 77: 'Brooklyn',
 78: 'Bronx',
 79: 'Manhattan',
 80: 'Brooklyn',
 81: 'Bronx',
 82: 'Queens',
 83: 'Queens',
 84: 'Staten Island',
 85: 'Brooklyn',
 86: 'Queens',
 87: 'Manhattan',
 88: 'Manhattan',
 89: 'Brooklyn',
 90: 'Manhattan',
 91: 'Brooklyn',
 92: 'Queens',
 93: 'Queens',
 94: 'Bronx',
 95: 'Queens',
 96: 'Queens',
 97: 'Brooklyn',
 98: 'Queens',
 99: 'Staten Island',
 100: 'Manhattan',
 101: 'Queens',
 102: 'Queens',
 103: 'Manhattan',
 104: 'Manhattan',
 105: 'Manhattan',
 106: 'Brooklyn',
 107: 'Manhattan',
 108: 'Brooklyn',
 109: 'Staten Island',
 110: 'Staten Island',
 111: 'Brooklyn',
 112: 'Brooklyn',
 113: 'Manhattan',
 114: 'Manhattan',
 115: 'Staten Island',
 116: 'Manhattan',
 117: 'Queens',
 118: 'Staten Island',
 119: 'Bronx',
 120: 'Manhattan',
 121: 'Queens',
 122: 'Queens',
 123: 'Brooklyn',
 124: 'Queens',
 125: 'Manhattan',
 126: 'Bronx',
 127: 'Manhattan',
 128: 'Manhattan',
 129: 'Queens',
 130: 'Queens',
 131: 'Queens',
 132: 'Queens',
 133: 'Brooklyn',
 134: 'Queens',
 135: 'Queens',
 136: 'Bronx',
 137: 'Manhattan',
 138: 'Queens',
 139: 'Queens',
 140: 'Manhattan',
 141: 'Manhattan',
 142: 'Manhattan',
 143: 'Manhattan',
 144: 'Manhattan',
 145: 'Queens',
 146: 'Queens',
 147: 'Bronx',
 148: 'Manhattan',
 149: 'Brooklyn',
 150: 'Brooklyn',
 151: 'Manhattan',
 152: 'Manhattan',
 153: 'Manhattan',
 154: 'Brooklyn',
 155: 'Brooklyn',
 156: 'Staten Island',
 157: 'Queens',
 158: 'Manhattan',
 159: 'Bronx',
 160: 'Queens',
 161: 'Manhattan',
 162: 'Manhattan',
 163: 'Manhattan',
 164: 'Manhattan',
 165: 'Brooklyn',
 166: 'Manhattan',
 167: 'Bronx',
 168: 'Bronx',
 169: 'Bronx',
 170: 'Manhattan',
 171: 'Queens',
 172: 'Staten Island',
 173: 'Queens',
 174: 'Bronx',
 175: 'Queens',
 176: 'Staten Island',
 177: 'Brooklyn',
 178: 'Brooklyn',
 179: 'Queens',
 180: 'Queens',
 181: 'Brooklyn',
 182: 'Bronx',
 183: 'Bronx',
 184: 'Bronx',
 185: 'Bronx',
 186: 'Manhattan',
 187: 'Staten Island',
 188: 'Brooklyn',
 189: 'Brooklyn',
 190: 'Brooklyn',
 191: 'Queens',
 192: 'Queens',
 193: 'Queens',
 194: 'Manhattan',
 195: 'Brooklyn',
 196: 'Queens',
 197: 'Queens',
 198: 'Queens',
 199: 'Bronx',
 200: 'Bronx',
 201: 'Queens',
 202: 'Manhattan',
 203: 'Queens',
 204: 'Staten Island',
 205: 'Queens',
 206: 'Staten Island',
 207: 'Queens',
 208: 'Bronx',
 209: 'Manhattan',
 210: 'Brooklyn',
 211: 'Manhattan',
 212: 'Bronx',
 213: 'Bronx',
 214: 'Staten Island',
 215: 'Queens',
 216: 'Queens',
 217: 'Brooklyn',
 218: 'Queens',
 219: 'Queens',
 220: 'Bronx',
 221: 'Staten Island',
 222: 'Brooklyn',
 223: 'Queens',
 224: 'Manhattan',
 225: 'Brooklyn',
 226: 'Queens',
 227: 'Brooklyn',
 228: 'Brooklyn',
 229: 'Manhattan',
 230: 'Manhattan',
 231: 'Manhattan',
 232: 'Manhattan',
 233: 'Manhattan',
 234: 'Manhattan',
 235: 'Bronx',
 236: 'Manhattan',
 237: 'Manhattan',
 238: 'Manhattan',
 239: 'Manhattan',
 240: 'Bronx',
 241: 'Bronx',
 242: 'Bronx',
 243: 'Manhattan',
 244: 'Manhattan',
 245: 'Staten Island',
 246: 'Manhattan',
 247: 'Bronx',
 248: 'Bronx',
 249: 'Manhattan',
 250: 'Bronx',
 251: 'Staten Island',
 252: 'Queens',
 253: 'Queens',
 254: 'Bronx',
 255: 'Brooklyn',
 256: 'Brooklyn',
 257: 'Brooklyn',
 258: 'Queens',
 259: 'Bronx',
 260: 'Queens',
 261: 'Manhattan',
 262: 'Manhattan',
 263: 'Manhattan',
 264: 'Unknown',
 265: 'Unknown'}

In [18]:
# manhattan= []
# queens= []
# bronx= []
# brooklyn = []
# staten_island= []
# airports= []
# unknowns=[]
# for k, v in borough_dict.items():
#     if v == 'Manhattan':
#         manhattan.append(k)
#     elif v == 'Queens':
#         queens.append(k)    
#     elif v == 'Bronx':
#         bronx.append(k)
#     elif v == 'Staten Island':
#         staten_island.append(k)
#     elif v == 'Brooklyn':
#         brooklyn.append(k)
#     elif v == 'Unknown':
#         unknowns.append(k)
#     else:
#         airports.append(k)

In [25]:
## Mapping PUID to pickup Borough
taxi_2019['pickup_borough'] = taxi_2019['PULocationID'].map(borough_dict)

In [95]:
taxi_2019['pickup_borough'].value_counts()

Manhattan        30036483
Queens            2201441
Brooklyn           404917
Unknown            341776
Bronx               61558
Airport              2677
Staten Island        1358
Name: pickup_borough, dtype: int64

In [26]:
## Mapping DOID to dropoff Borough

taxi_2019['dropoff_borough'] = taxi_2019['DOLocationID'].map(borough_dict)

In [27]:
taxi_2019['dropoff_borough'].value_counts()

Manhattan        70262610
Queens            4183902
Brooklyn          3248031
Unknown            884717
Bronx              526732
EWR                168134
Staten Island       21301
Name: dropoff_borough, dtype: int64

In [28]:
## Updating zone Data using shapefile that is provided by NYC TLC. You can find here: https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip
## preprocessed on a different notebook 
zone_dict = {1: 'Newark Airport',
 2: 'Jamaica Bay',
 3: 'Allerton/Pelham Gardens',
 4: 'Alphabet City',
 5: 'Arden Heights',
 6: 'Arrochar/Fort Wadsworth',
 7: 'Astoria',
 8: 'Astoria Park',
 9: 'Auburndale',
 10: 'Baisley Park',
 11: 'Bath Beach',
 12: 'Battery Park',
 13: 'Battery Park City',
 14: 'Bay Ridge',
 15: 'Bay Terrace/Fort Totten',
 16: 'Bayside',
 17: 'Bedford',
 18: 'Bedford Park',
 19: 'Bellerose',
 20: 'Belmont',
 21: 'Bensonhurst East',
 22: 'Bensonhurst West',
 23: 'Bloomfield/Emerson Hill',
 24: 'Bloomingdale',
 25: 'Boerum Hill',
 26: 'Borough Park',
 27: 'Breezy Point/Fort Tilden/Riis Beach',
 28: 'Briarwood/Jamaica Hills',
 29: 'Brighton Beach',
 30: 'Broad Channel',
 31: 'Bronx Park',
 32: 'Bronxdale',
 33: 'Brooklyn Heights',
 34: 'Brooklyn Navy Yard',
 35: 'Brownsville',
 36: 'Bushwick North',
 37: 'Bushwick South',
 38: 'Cambria Heights',
 39: 'Canarsie',
 40: 'Carroll Gardens',
 41: 'Central Harlem',
 42: 'Central Harlem North',
 43: 'Central Park',
 44: 'Charleston/Tottenville',
 45: 'Chinatown',
 46: 'City Island',
 47: 'Claremont/Bathgate',
 48: 'Clinton East',
 49: 'Clinton Hill',
 50: 'Clinton West',
 51: 'Co-Op City',
 52: 'Cobble Hill',
 53: 'College Point',
 54: 'Columbia Street',
 55: 'Coney Island',
 56: 'Corona',
 58: 'Country Club',
 59: 'Crotona Park',
 60: 'Crotona Park East',
 61: 'Crown Heights North',
 62: 'Crown Heights South',
 63: 'Cypress Hills',
 64: 'Douglaston',
 65: 'Downtown Brooklyn/MetroTech',
 66: 'DUMBO/Vinegar Hill',
 67: 'Dyker Heights',
 68: 'East Chelsea',
 69: 'East Concourse/Concourse Village',
 70: 'East Elmhurst',
 71: 'East Flatbush/Farragut',
 72: 'East Flatbush/Remsen Village',
 73: 'East Flushing',
 74: 'East Harlem North',
 75: 'East Harlem South',
 76: 'East New York',
 77: 'East New York/Pennsylvania Avenue',
 78: 'East Tremont',
 79: 'East Village',
 80: 'East Williamsburg',
 81: 'Eastchester',
 82: 'Elmhurst',
 83: 'Elmhurst/Maspeth',
 84: "Eltingville/Annadale/Prince's Bay",
 85: 'Erasmus',
 86: 'Far Rockaway',
 87: 'Financial District North',
 88: 'Financial District South',
 89: 'Flatbush/Ditmas Park',
 90: 'Flatiron',
 91: 'Flatlands',
 92: 'Flushing',
 93: 'Flushing Meadows-Corona Park',
 94: 'Fordham South',
 95: 'Forest Hills',
 96: 'Forest Park/Highland Park',
 97: 'Fort Greene',
 98: 'Fresh Meadows',
 99: 'Freshkills Park',
 100: 'Garment District',
 101: 'Glen Oaks',
 102: 'Glendale',
 103: "Governor's Island/Ellis Island/Liberty Island",
 106: 'Gowanus',
 107: 'Gramercy',
 108: 'Gravesend',
 109: 'Great Kills',
 110: 'Great Kills Park',
 111: 'Green-Wood Cemetery',
 112: 'Greenpoint',
 113: 'Greenwich Village North',
 114: 'Greenwich Village South',
 115: 'Grymes Hill/Clifton',
 116: 'Hamilton Heights',
 117: 'Hammels/Arverne',
 118: 'Heartland Village/Todt Hill',
 119: 'Highbridge',
 120: 'Highbridge Park',
 121: 'Hillcrest/Pomonok',
 122: 'Hollis',
 123: 'Homecrest',
 124: 'Howard Beach',
 125: 'Hudson Sq',
 126: 'Hunts Point',
 127: 'Inwood',
 128: 'Inwood Hill Park',
 129: 'Jackson Heights',
 130: 'Jamaica',
 131: 'Jamaica Estates',
 132: 'JFK Airport',
 133: 'Kensington',
 134: 'Kew Gardens',
 135: 'Kew Gardens Hills',
 136: 'Kingsbridge Heights',
 137: 'Kips Bay',
 138: 'LaGuardia Airport',
 139: 'Laurelton',
 140: 'Lenox Hill East',
 141: 'Lenox Hill West',
 142: 'Lincoln Square East',
 143: 'Lincoln Square West',
 144: 'Little Italy/NoLiTa',
 145: 'Long Island City/Hunters Point',
 146: 'Long Island City/Queens Plaza',
 147: 'Longwood',
 148: 'Lower East Side',
 149: 'Madison',
 150: 'Manhattan Beach',
 151: 'Manhattan Valley',
 152: 'Manhattanville',
 153: 'Marble Hill',
 154: 'Marine Park/Floyd Bennett Field',
 155: 'Marine Park/Mill Basin',
 156: 'Mariners Harbor',
 157: 'Maspeth',
 158: 'Meatpacking/West Village West',
 159: 'Melrose South',
 160: 'Middle Village',
 161: 'Midtown Center',
 162: 'Midtown East',
 163: 'Midtown North',
 164: 'Midtown South',
 165: 'Midwood',
 166: 'Morningside Heights',
 167: 'Morrisania/Melrose',
 168: 'Mott Haven/Port Morris',
 169: 'Mount Hope',
 170: 'Murray Hill',
 171: 'Murray Hill-Queens',
 172: 'New Dorp/Midland Beach',
 173: 'North Corona',
 174: 'Norwood',
 175: 'Oakland Gardens',
 176: 'Oakwood',
 177: 'Ocean Hill',
 178: 'Ocean Parkway South',
 179: 'Old Astoria',
 180: 'Ozone Park',
 181: 'Park Slope',
 182: 'Parkchester',
 183: 'Pelham Bay',
 184: 'Pelham Bay Park',
 185: 'Pelham Parkway',
 186: 'Penn Station/Madison Sq West',
 187: 'Port Richmond',
 188: 'Prospect-Lefferts Gardens',
 189: 'Prospect Heights',
 190: 'Prospect Park',
 191: 'Queens Village',
 192: 'Queensboro Hill',
 193: 'Queensbridge/Ravenswood',
 194: 'Randalls Island',
 195: 'Red Hook',
 196: 'Rego Park',
 197: 'Richmond Hill',
 198: 'Ridgewood',
 199: 'Rikers Island',
 200: 'Riverdale/North Riverdale/Fieldston',
 201: 'Rockaway Park',
 202: 'Roosevelt Island',
 203: 'Rosedale',
 204: 'Rossville/Woodrow',
 205: 'Saint Albans',
 206: 'Saint George/New Brighton',
 207: 'Saint Michaels Cemetery/Woodside',
 208: 'Schuylerville/Edgewater Park',
 209: 'Seaport',
 210: 'Sheepshead Bay',
 211: 'SoHo',
 212: 'Soundview/Bruckner',
 213: 'Soundview/Castle Hill',
 214: 'South Beach/Dongan Hills',
 215: 'South Jamaica',
 216: 'South Ozone Park',
 217: 'South Williamsburg',
 218: 'Springfield Gardens North',
 219: 'Springfield Gardens South',
 220: 'Spuyten Duyvil/Kingsbridge',
 221: 'Stapleton',
 222: 'Starrett City',
 223: 'Steinway',
 224: 'Stuy Town/Peter Cooper Village',
 225: 'Stuyvesant Heights',
 226: 'Sunnyside',
 227: 'Sunset Park East',
 228: 'Sunset Park West',
 229: 'Sutton Place/Turtle Bay North',
 230: 'Times Sq/Theatre District',
 231: 'TriBeCa/Civic Center',
 232: 'Two Bridges/Seward Park',
 233: 'UN/Turtle Bay South',
 234: 'Union Sq',
 235: 'University Heights/Morris Heights',
 236: 'Upper East Side North',
 237: 'Upper East Side South',
 238: 'Upper West Side North',
 239: 'Upper West Side South',
 240: 'Van Cortlandt Park',
 241: 'Van Cortlandt Village',
 242: 'Van Nest/Morris Park',
 243: 'Washington Heights North',
 244: 'Washington Heights South',
 245: 'West Brighton',
 246: 'West Chelsea/Hudson Yards',
 247: 'West Concourse',
 248: 'West Farms/Bronx River',
 249: 'West Village',
 250: 'Westchester Village/Unionport',
 251: 'Westerleigh',
 252: 'Whitestone',
 253: 'Willets Point',
 254: 'Williamsbridge/Olinville',
 255: 'Williamsburg (North Side)',
 256: 'Williamsburg (South Side)',
 257: 'Windsor Terrace',
 258: 'Woodhaven',
 259: 'Woodlawn/Wakefield',
 260: 'Woodside',
 261: 'World Trade Center',
 262: 'Yorkville East',
 263: 'Yorkville West',
 264: 'Unknown',
 265: 'Unknown'}

In [29]:
taxi_2019['zone'] = taxi_2019['PULocationID'].map(zone_dict)

In [30]:
taxi_2019

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,month,year,pickup_day_of_week,dropoff_day_of_week,pickup_hour,dropoff_hour,pickup_timeofday,pickup_borough,dropoff_borough,zone
68268,1.0,2019-01-01 07:01:20,2019-01-31 14:29:21,1.0,1.2,1.0,N,48,163,2.0,...,jan,2019,Tuesday,Thursday,7,14,Morning,Manhattan,Manhattan,Clinton East

In [31]:
# taxi_2019.loc[taxi_2019.pickup_borough == 'Manhattan']

,VendorID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,month,year,pickup_day_of_week,dropoff_day_of_week,pickup_hour,dropoff_hour,pickup_timeofday,pickup_borough,dropoff_borough,zone
68268,1.0,2019-01-01 07:01:20,2019-01-31 14:29:21,1.0,1.2,1.0,N,48,163,2.0,...,jan,2019,Tuesday,Thursday,7,14,Morning,Manhattan,Manhattan,Clinton East
579459,1.0,2019-01-03 21:43:46,2019-01-03 21:45:47,1.0,0.6,1.0,N,263,141,1.0,...,jan,2019,Thursday,Thursday,21,21,Evening,Manhattan,Manhattan,Yorkville West
579460,1.0,2019-01-03 21:49:22,2019-01-03 21:59:12,1.0,2.2,1.0,N,263,151,1.0,...,jan,2019,Thursday,Thursday,21,21,Evening,Manhattan,Manhattan,Yorkville West
592224,1.0,2019-01-03 22:04:40,2019-01-03 22:16:15,1.0,2.5,1.0,N,238,246,1.0,...,jan,2019,Thursday,Thursday,22,22,Late night,Manhattan,Manhattan,Upper West Side North
592225,1.0,2019-01-03 22:24:36,2019-01-27 10:41:17,1.0,1.1,1.0,N,50,170,1.0,...,jan,2019,Thursday,Sunday,22,10,Late night,Manhattan,Manhattan,Clinton West
872660,1.0,2019-01-05 03:50:35,2019-01-05 04:00:41,1.0,1.9,1.0,N,148,261,1.0,...,jan,2019,Saturday,Saturday,3,4,Late night,Manhattan,Manhattan,Lower East Side
875805,1.0,2019-01-05 04:09:40,2019-01-05 04:14:28,2.0,0.3,1.0,N,113,249,1.0,...,jan,2019,Saturday,Saturday,4,4,Late night,Manhattan,Manhattan,Greenwich Village North
875806,1.0,2019-01-05 04:21:40,2019-01-27 01:53:46,2.0,3.9,1.0,N,114,237,1.0,...,jan,2019,Saturday,Sunday,4,1,Late night,Manhattan,Manhattan,Greenwich Village South
4163089,1.0,2019-01-18 06:46:26,2019-01-18 06:53:10,1.0,0.8,1.0,Y,163,143,2.0,...,jan,2019,Friday,Friday,6,6,Morning,Manhattan,Manhattan,Midtown North
4174813,1.0,2019-01-18 07:06:46,2019-01-18 07:14:40,1.0,1.2,1.0,Y,186,161,1.0,...,jan,2019,Friday,Friday,7,7,Morning,Manhattan,Manhattan,Penn Station/Madison Sq West

In [42]:
# taxi_2019.groupby([taxi_2019['PULocationID'], taxi_2019['pickup_date'], taxi_2019['pickup_hour']], as_index=False)[['passenger_count']].sum()

In [43]:
# taxi_2019.groupby([taxi_2019['PULocationID'], taxi_2019['pickup_hour']], as_index=False)[['trip_distance']].mean()

In [33]:
taxi_2019.to_csv('./data/taxi_2019_clean.csv')

(79295427, 28)